html {
height: 100%;
}
body {
margin: 0;
padding: 0;
min-height: 100%;
position: relative;
}

.div_foot {
    position: fixed;
    bottom:40px; 
    left:0px;
    height: 30px;
    text-align: center;
    line-height: 98%;
    width: 100%;
}